
<ion-view view-title="Productores de Aceite de Oliva para importanción a españa">
  <ion-content class="padding">
    
    <div class="detail-content">
    	<img ng-src="http://lorempixel.com/300/300" >
    	<div class="text">
    		<h2>Productores de Aceite de Oliva para importanción a españa</h2>
		    <p>
		      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio obcaecati sunt inventore, ratione dolorum nostrum sapiente asperiores sint in voluptate unde harum. Excepturi aut rem autem sint, iusto odio nobis.
		    </p>
    	</div>
	   	<div class="contact">
	   		<div class="social">
	   			<i class="icon ion-ios-telephone"></i>
	   			<span>(555) 555555555</span>
	   		</div>
	   		<div class="social">
	   			<i class="icon ion-ios-world"></i>
	   			<span >wwww.miempresa.com</span>
	   		</div>
	   		<div class="social">
	   			<i class="icon ion-ios-telephone"></i>
	   			<span>www.linkedind.com/miperfildelinkedin</span>
	   		</div>

	   		<button class="button  button-full button-dark">
			  Contactar
			</button>
	   	</div>
    </div>
  </ion-content>
</ion-view>
