<ion-view view-title="Login">
  <ion-content class="padding bg-gray">
    <div class="login-content">
    	<div class="logo">
    		<img src="img/logo.png" alt="">
    	</div>

    	<div class="form-login">
    		<div class="title">
    			<h1>Area de Socios</h1>
    			<h2>Bienvenidos</h2>
    		</div>

    		<div class="inputs">
    			<div class="list list-inset">
				  <label class="item item-input">
				    <i class="icon ion-ios-email-outline placeholder-icon"></i>
				    <input type="text" placeholder="Email">
				  </label>
				</div>
				<div class="list list-inset">
				   <label class="item item-input">
				    <i class="icon ion-key placeholder-icon"></i>
				    <input type="text" placeholder="Contraseña">
				  </label>
				  
				</div>
    		</div>

			<a href="#/tab/home" class="button button-full button-energized btn-login">
				Entrar
			</a>
    	</div>
    </div>
    
  </ion-content>
</ion-view>
