<ion-view view-title="Nueva Publicación">
  <ion-content class="padding">
	<div class="add-content">
	  <label class="item item-input">
	    <input type="text" placeholder="Titulo">
	  </label>
	  <label class="item item-input">
	    <textarea placeholder="Descripción" rows="4" cols="50"></textarea>
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	     Sector o industria
	    </div>
	    <select>
	      <option>Blue</option>
	      <option selected>Todos</option>
	      <option>Red</option>
	    </select>
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	     País
	    </div>
	    <select>
	      <option>Blue</option>
	      <option selected>Todos</option>
	      <option>Red</option>
	    </select>
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	     Ciudad
	    </div>
	    <select>
	      <option>Blue</option>
	      <option selected>Todos</option>
	      <option>Red</option>
	    </select>
	  </label>

		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-ios-telephone placeholder-icon"></i>
				<input type="text" placeholder="Telefono">
			</label>
		</div>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-ios-world placeholder-icon"></i>
				<input type="text" placeholder="Página Web">
			</label>
		</div>

		<button class="button  button-full button-dark">
			  Crear
			</button>
	</div>
  </ion-content>
</ion-view>