/* Empty. Add your own CSS if you like */
// Rewrite class

.bar-header {
    background: #656565;
}
.bg-gray{
	background: #656565;
	border-color: #656565;
}

.bar .title {
    color: #e0b028;
    font-weight: 600;
}


//Login styles

.login-content{
	padding: 1em;
}
.login-content .logo{
	width: 250px;
	margin: 0 auto;
	margin-top: 1rem;
}
.login-content .logo img{
	width: 100%;
}
.login-content .form-login{
	padding: 1em 3em;
}
.login-content .form-login .title{
	text-align: center;
}
.login-content .form-login .title h1{
	color: #fbfbfb;
	font-size: 24px;
}
.login-content .form-login .title h2{
	color: #cbcbcb;
	font-size: 30px;
}
.login-content .form-login .inputs .list-inset{
	margin: 10px 0px;
}
.login-content .form-login .inputs .list-inset .placeholder-icon{
	color: #000;
    padding-right: 14px !important;
    font-size: 1.4em;
}
.login-content .form-login .btn-login{
	margin-top: 20px;
}
.button.button-energized {
    border-color: transparent;
    background-color: #e0b028;
    color: #fff;
    font-weight: 600;
}


//Tabs

.tab-item .icon {
    height: 50px;
    line-height: 50px;
}



//Home 
.home-content{
	padding: 10px 10px 10px 0;
}
.home-content .item-home{
	display: flex;
	height: 85px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.61);
	padding: 7px 0;
	box-sizing: border-box;
	text-decoration: none;
	cursor: pointer;
	margin: 10px 10px;

}
.home-content .item-home img{
	height: 70px;
	width: 20%;
    margin-left: 5px;
	max-width: 100px;
	min-width: 70px;
}
.home-content .item-home .text{
	display: flex;
	flex-direction: column;
	width: 70%;
	text-align: center;
}
.home-content .item-home .text .title{
	text-align: center;
	padding: 10px 10px;
	width: 100%;
	height: 50px;
}
.home-content .item-home .text .title h2{
	display: -webkit-box;
	max-width: 100%;
	height: 30px;
	margin: 0 auto;
	font-size: 12px;
	line-height: 1.1;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;

}
.home-content .item-home .text p{
	    font-size: 10px;
    margin: 0 auto;
    color: #565656;
}
.home-content .item-home .icon-home{
	align-self:center;
	width: 10%;
	text-align: center;
	color: #7D7D7D;
}


//Detail

.detail-content{
	padding:0
}
.detail-content img{
    width: 100%;
    height: 250px;
}
.detail-content h2{
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	margin: 5px;
}
.detail-content .text{
	border-bottom: 1px solid #C1C1C1;
	padding: 20px;
}
.detail-content .text p{
	margin-top: 14px;
}
.detail-content .contact{
	padding: 2em 1.5em;
}
.detail-content .contact .social{
	display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;
}
.detail-content .contact .social i{
	font-size: 21px;
}
.detail-content .contact .social span{
	 margin-left: 10px;
    font-size: 14px;
}


.tabs-top > .tabs, .tabs.tabs-top {
    top: 42px;
    padding-top: 0;
    background-position: bottom;
    /* border-top-width: 0; */
    /* border-bottom-width: 1px; */
    background: #656565;
    border-color: #656565;
}
.tabs-top .tab-item .icon{
    color: #fff;
    margin-top: 5px !important;
}
.tabs-top .tab-item-active .icon{
    color:  #e0b028;
}

.tabs-top ion-tabs.tabs-color-active-positive .tab-item {
    color: #fff;
    opacity: 1;
}
ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
    border-color: #e0b028;
    color: #e0b028;
}


.button.button-dark {
    border-color: transparent;
    background-color: #656565;
    color: #e0b028;
    font-weight: 600;
}
.tab-item .icon {
    display: block;
    margin: 0 auto;
    height: 32px;
    font-size: 32px;
    margin-top: 5px;
}

//chats
.chats .profile-chat{

}
.profile-chat{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}

// chat detail
.messages{
}
.messages{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 60px;
	height: 100%;
	overflow-y: auto;
}

.messages .message{
	background: rgb(245, 245, 245);
	width: 70%;
	padding: 20px;
	color: #636363;
	font-size: 1.2em;
	margin-bottom: 15px;
	border: 1px solid;
}
.messages .own-message{
	width: 70%;
	padding: 20px;
	margin: 0 0 0 auto;
	color: #636363;
	font-size: 1.2em;
	margin-bottom: 15px;
	border: 1px solid;
}

.input-message{
	    position: absolute;
    width: 100%;
    bottom: 0;
}


//Tab profile


.profile-content{

}

.profile-content .avatar {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	margin-top: 10px;
}
.profile-content .avatar img {
	 border-radius: 50%;
}
.profile-content .name{
    text-align: center;
    font-size: 12px;
    margin-top: 1em;
}
.profile-content .name h2{
    font-size: 18px;
    font-weight: 600;
    color: #7D7D7D;
}

.profile-content .tabs-profile{
	top: 130px;
}
.profile-content .items-content{
	max-height: 455px;
	overflow-y: auto;
	padding: 65px 10px 10px 10px;
}
.profile-content .items-content .item-home{
	 margin: 10px 0px;
}



//add publish

.add-content{
}
.add-content{
	padding: 10px;
}
.add-content .item-input{
	margin-bottom: 10px;
}